* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
  overflow: hidden;
  outline: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  height: 100vh;
  font-weight: 700;
  background-color: rgb(0, 0, 0);
}

p {
  color: rgb(0, 0, 0);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
}

header a {
  text-decoration: none;
  margin: 0 10px;
}

header button {
  font-weight: 700;
  font-size: 1rem;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-content: center; 
  margin: 90px auto 0; 
  max-width: 600px;
  position: relative;
}

.bi-arrow-left-square-fill,
.bi-arrow-right-square-fill {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
}

.bi-arrow-left-square-fill {
  left: 10px;
  font-size: 1.5rem;
}

.bi-arrow-right-square-fill {
  right: 10px;
  font-size: 1.5rem;
}

:is(.app-detalhes, .app-informacoes) {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(163, 159, 159, 0.363);
  padding: 20px;
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
}

:is(#capa, .app-informacoes img) {
  width: 220px;
  height: 220px;
  border-radius: 8px;
  perspective: 1000px; 
  transform-style: preserve-3d; 
  transition: transform 0.6s ease-in-out;
}

:is(#capa:hover, .app-informacoes img:hover) {
  transform: rotateY(180deg);
}

.app-informacoes {
  display: none;
}

.app-informacoes p {
  text-align: justify;
  line-height: 1.2;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

#informacoes-faixa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 1rem 0;
  padding: 5px;
  font-size: 1.2rem;
}

#anterior,
#proximo {
  font-size: 2.5rem;
}

#play-pause {
  font-size: 3rem;
  transition: all 300ms ease-in-out;
}

:is(#anterior:hover, #proximo:hover, #play-pause:hover) {
  transform: scale(1.05);
}

footer {
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff; 
  padding: 10px; 
  text-align: center; 
}